{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block dashboard %}
    active 
{% endblock %}

{% block main %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-start">Config name</th>
            <th class="text-start">Config type</th>
            <th class="text-start">Created at</th>
            <th class="text-end"></th>
        </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td class="text-start">{{ config.config_name }}</td>
                <td class="text-start">{{ config.split_type }}</td>
                <td class="text-start">{{ config.created_at }}</td>
                <td class="text-end"><a href="{{ url_for('config', id=config.id) }}" class="btn btn-dark">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>  
{% endblock %}